* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #959595;
  text-transform: capitalize;
  font-family: arial;
}

section {
  width: 100%;
}
button {
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#control-btns {
  width: 100%;
  height: 120px;
  background-color: black;
  padding: 15px;
  display: flex;
}
#control-btns .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
#control-btns button img {
  width: 35px;
  margin-bottom: 3px;
}
#control-btns #microphone {
  background-color: black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: -50px;
}
#control-btns #microphone img {
  width: 100%;
}

#slider .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}
#slider .slides {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -70px;
}
#slider .slides .svg-wrap {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
#slider .slides .right-side {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: green;
  clip-path: url(#smClip);
  background: transparent url("../images/person.jpg") no-repeat center center;
  background-size: cover;
}
#slider .slider-control {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
#slider .slider-control button {
  width: 48px;
  height: 42px;
}
#slider .slider-control button img {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .wrap {
    display: flex;
    background-color: #f4f4f4;
  }
}
@media only screen and (min-width: 900px) {
  .wrap > div {
    flex: 1;
  }
}

.voice-animation {
  display: none;
}
@media only screen and (min-width: 900px) {
  .voice-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }
  .voice-animation .animation {
    width: 200px;
    margin-bottom: 30px;
  }
  .voice-animation .animation img {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .content-wrap {
    display: grid;
    position: relative;
  }
  .content-wrap > div {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  .content-wrap #control-btns {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1200px) {
  .content-wrap #control-btns {
    right: 10px;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #control-btns .container {
    flex-flow: column wrap;
    height: 70%;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #control-btns button {
    display: flex;
    align-items: center;
  }
  .content-wrap #control-btns button p {
    position: relative;
    right: -10px;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1200px) {
  .content-wrap #control-btns button img {
    width: 45px;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #control-btns #microphone {
    top: initial;
    left: 35px;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1200px) {
  .content-wrap #control-btns #microphone {
    height: 80px;
  }
  .content-wrap #control-btns #microphone img {
    height: initial;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap .container {
    width: 100%;
    max-width: initial;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #slider .container {
    height: 100%;
    display: block;
    position: relative;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #slider .container .slider-control {
    position: absolute;
    left: 10px;
    bottom: 15px;
  }
  .content-wrap #slider .container .slider-control button {
    width: 35px;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #slider .slides {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #slider .slides .sm-img {
    display: none;
  }
}
.content-wrap #slider .slides .large-img {
  display: none;
}
@media only screen and (min-width: 900px) {
  .content-wrap #slider .slides .large-img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .content-wrap #slider .slides .large-img img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  p {
    line-height: 150%;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .wrap {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=style.css.map */
