* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #959595;
  text-transform: capitalize;
  font-family: arial;
}

section {
  width: 100%;
  height: 100vh;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#control-btns {
  width: 100%;
  height: 120px;
  background-color: black;
  padding: 15px;
  display: flex;
}
#control-btns .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#control-btns button img {
  width: 35px;
  margin-bottom: 3px;
}
#control-btns #microphone {
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  z-index: 100;
  cursor: pointer;
}
#control-btns #microphone img {
  width: 100%;
}

#slider .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media only screen and (min-width: 900px) {
  #slider .container {
    height: 100%;
    display: block;
    position: relative;
  }
}
#slider .slides {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -70px;
}
@media only screen and (min-width: 900px) {
  #slider .slides {
    margin: 0;
    padding: 0;
  }
}
#slider .slides .img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
#slider .slides .img img {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 900px) {
  #slider .slides .sm-img {
    display: none;
  }
}
#slider .slides .large-img {
  display: none;
}
@media only screen and (min-width: 900px) {
  #slider .slides .large-img {
    display: block;
    width: 100%;
    height: 100%;
  }
  #slider .slides .large-img img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 900px) {
  #slider .slides-content {
    display: none;
  }
}
#slider .slider-control {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 900px) {
  #slider .slider-control {
    position: absolute;
    left: 10px;
    bottom: 15px;
  }
  #slider .slider-control button {
    width: 35px;
  }
}
#slider .slider-control button {
  width: 48px;
  height: 42px;
}
#slider .slider-control button img {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .wrap {
    display: flex;
    background-color: #f4f4f4;
  }
}
@media only screen and (min-width: 900px) {
  .wrap > div {
    flex: 1;
  }
}

.voice-animation {
  display: none;
}
@media only screen and (min-width: 900px) {
  .voice-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }
  .voice-animation .animation {
    width: 200px;
    margin-bottom: 30px;
  }
  .voice-animation .animation img {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .content-wrap {
    display: grid;
    position: relative;
  }
  .content-wrap > div {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  .content-wrap #control-btns {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1200px) {
  .content-wrap #control-btns {
    right: 10px;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #control-btns .container {
    flex-flow: column wrap;
    height: 70%;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #control-btns button {
    display: flex;
    align-items: center;
  }
  .content-wrap #control-btns button p {
    position: relative;
    right: -10px;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1200px) {
  .content-wrap #control-btns button img {
    width: 45px;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap #control-btns #microphone {
    top: initial;
    left: 35px;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1200px) {
  .content-wrap #control-btns #microphone {
    height: 80px;
    width: 80px;
  }
  .content-wrap #control-btns #microphone img {
    height: initial;
  }
}
@media only screen and (min-width: 900px) {
  .content-wrap .container {
    width: 100%;
    max-width: initial;
  }
}

@media only screen and (min-width: 900px) {
  p {
    line-height: 150%;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .wrap {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.slides-content {
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-size: 15px;
  position: relative;
  z-index: 20;
}
@media only screen and (min-width: 900px) {
  .slides-content {
    position: initial;
    z-index: initial;
    width: 85%;
  }
}
.slides-content .row {
  padding-left: 20px;
  padding-right: 20px;
}
.slides-content .row .date {
  text-align: center;
  margin-bottom: 10px;
}
.slides-content .text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.slides-content .user-content, .slides-content .ai-responce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.slides-content .user-content img, .slides-content .ai-responce img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.slides-content .user-row {
  margin-top: 15px;
  margin-bottom: 25px;
}
.slides-content .ai-row p,
.slides-content .ai-row li {
  color: #374151;
}
@media only screen and (min-width: 900px) {
  .slides-content .ai-row p,
  .slides-content .ai-row li {
    font-size: 1rem;
  }
}
.slides-content .ai-responce {
  align-items: flex-start;
  height: 345px;
  overflow: auto;
}
.slides-content .ai-responce ul {
  padding-left: 20px;
  margin-top: 10px;
}
.slides-content .input-wrap {
  margin-left: 13px;
  margin-top: 15px;
  width: 310px;
  height: 40px;
  position: relative;
}
.slides-content .input-wrap input {
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  padding: 10px;
  border: none;
}
.slides-content .input-wrap input:focus {
  border: none;
  outline: none;
}
.slides-content .input-wrap .send-con {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 15px;
  top: 12px;
}
.slides-content .input-wrap .send-con .send-btn {
  width: 20px;
  margin-right: 12px;
  height: 20px;
  cursor: pointer;
}
.slides-content .input-wrap .send-con .send-btn img {
  width: 100%;
}
.slides-content .input-wrap .send-con .send-btn p {
  font-size: 14px;
}

.ai-responce-lg {
  display: none;
}
@media only screen and (min-width: 900px) {
  .ai-responce-lg {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .ai-responce-lg .user-row {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 900px) {
  .ai-responce-lg .input-wrap {
    margin: initial;
    position: absolute;
    right: 20px;
    bottom: 25px;
    font-size: 1rem;
    width: 65%;
    height: 50px;
  }
  .ai-responce-lg .input-wrap input {
    padding-left: 20px;
  }
  .ai-responce-lg .input-wrap input::placeholder {
    font-weight: bold;
  }
  .ai-responce-lg .input-wrap .send-con {
    top: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .ai-responce-lg .input-wrap {
    width: 70%;
  }
}
@media only screen and (min-width: 900px) {
  .ai-responce-lg .ai-responce {
    height: 35vw;
  }
}
@media only screen and (min-width: 1200px) {
  .ai-responce-lg .ai-responce {
    height: initial;
  }
}

.upload-function,
.color-select {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.upload-function button,
.upload-function .current-voice,
.color-select button,
.color-select .current-voice {
  background-color: rgba(216, 216, 216, 0.5019607843);
  border-radius: 50px;
  padding: 8px 25px 12px 25px;
  color: #5d5d5d;
  font-size: 1rem;
}
.upload-function .current-voice,
.color-select .current-voice {
  margin-top: 20px;
}
@media only screen and (min-width: 900px) {
  .upload-function button,
  .color-select button {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 900px) {
  .color-select button {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .upload .slides-content, .color-picker .slides-content {
    display: flex !important;
    width: 100%;
  }
  .upload #slider .container, .color-picker #slider .container {
    display: grid;
  }
}

/*# sourceMappingURL=style.css.map */
