* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #959595;
    text-transform: capitalize;
    font-family: arial;
}

@mixin tablet() {
    @media only screen and (min-width: 900px) {
        @content;
    }
}

@mixin sm-desktop() {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

section {
    width: 100%;
    // height: 100vh;
    // overflow: hidden;
    @include sm-desktop() {
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
    }
}

button {
    background-color: transparent;
    border: none;
}

// img {
//     width: 100%;
//     height: 100%;
// }

.container {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#control-btns {
    width: 100%;
    height: 120px;
    background-color: black;
    padding: 15px;
    display: flex;
    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        // @media only screen and (min-width: ) {

        // }
    }
    button {
        img {
            width: 35px;
            margin-bottom: 3px;
        }
    }

    #microphone {
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        top: -50px;
        img {
            width: 100%;
        }
    }
}

#slider {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .slides {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -70px;
        svg {
            width: 0;
            height: 0;
        }
        .content {
            width: 100%;
            clip-path: url('#sm-filter #contentClipSm');
            // clip-path: url(#myClip);
            img {
                width: 100%;
            }
        }
    }

    .slider-control {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
            width: 48px;
            height: 42px;
            img {
                width: 100%;
            }
        }
    }
}

.wrap {
    @include tablet() {
        display: flex;
        background-color: #f4f4f4;
    }

    & > div {
        @include tablet() {
            flex: 1;
        }
    }
}

.voice-animation {
    display: none;
    @include tablet() {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        .animation {
            width: 200px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
    }
}

.content-wrap {
    @include tablet() {
        display: grid;
        position: relative;
        & > div {
            grid-column: 1/-1;
            grid-row: 1/-1;
        }

        #control-btns {
            position: absolute;
            right: 0;
            top: 0;
            width: 200px;
            height: 100%;
            background-color: transparent;
            padding-right: 0px;
            padding-left: 0px;
            align-items: center;
            @include sm-desktop() {
                right: 10px;
            }
            .container {
                flex-flow: column wrap;
                height: 70%;
            }

            button {
                display: flex;
                align-items: center;
                p {
                    // margin-left: 8px;
                    position: relative;
                    right: -10px;
                }
                img {
                    @include sm-desktop() {
                        width: 45px;
                    }
                }
            }
            #microphone {
                top: initial;
                left: 35px;
                @include sm-desktop() {
                    height: 80px;
                    img {
                        height: initial;
                    }
                }
            }
        }
    }
    .container {
        @include tablet() {
            width: 100%;
            max-width: initial;
        }
    }
    #slider {
        .container {
            @include tablet() {
                height: 100%;
                display: block;
                position: relative;
            }
            .slider-control {
                @include tablet() {
                    position: absolute;
                    left: 10px;
                    bottom: 15px;
                    button {
                        width: 35px;
                    }
                }
            }
        }
        .slides {
            @include tablet() {
                margin: 0;
                padding: 0;
            }
            .sm-img {
                @include tablet() {
                    display: none;
                }
            }
            .large-img {
                display: none;
                @include tablet() {
                    display: block;
                    width: 100%;
                    height: 100%;
                    // background-color: green;
                    // min-height: 500px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

p {
    @include tablet() {
        line-height: 150%;
        font-size: 16px;
    }
    @include sm-desktop() {
        font-size: 18px;
    }
}

.wrap {
    @include sm-desktop() {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

// #lg-filter {
//     display: none;
//     @include tablet() {
//         display: block;
//     }
// }

// #sm-filter {
//     display: block;
//     @include tablet() {
//         display: none;
//     }
// }

