* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #959595;
    text-transform: capitalize;
    font-family: arial;
}

@mixin tablet() {
    @media only screen and (min-width: 900px) {
        @content;
    }
}

@mixin sm-desktop() {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

section {
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    // @include sm-desktop() {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
}

button {
    background-color: transparent;
    border: none;
}

.container {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#control-btns {
    width: 100%;
    height: 120px;
    background-color: black;
    padding: 15px;
    display: flex;
    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    button {
        img {
            width: 35px;
            margin-bottom: 3px;
        }
    }

    #microphone {
        background-color: black;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: relative;
        top: -50px;
        z-index: 100;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}

#slider {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        @include tablet() {
            height: 100%;
            display: block;
            position: relative;
        }
    }
    .slides {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: -70px;
        @include tablet() {
            margin: 0;
            padding: 0;
        }
        .img {
            width: 100%;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            img {
                width: 100%;
                display: block;
            }
        }
        .sm-img {
            @include tablet() {
                display: none;
            }
        }
        .large-img {
            display: none;
            @include tablet() {
                display: block;
                width: 100%;
                height: 100%;
                // background-color: green;
                // min-height: 500px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .slides-content {
        @include tablet() {
            display: none;
        }
    }

    .slider-control {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // position: relative;
        // z-index: 30;
        @include tablet() {
            position: absolute;
            left: 10px;
            bottom: 15px;
            button {
                width: 35px;
            }
        }
        button {
            width: 48px;
            height: 42px;
            img {
                width: 100%;
            }
        }
    }
}

.wrap {
    @include tablet() {
        display: flex;
        background-color: #f4f4f4;
    }

    & > div {
        @include tablet() {
            flex: 1;
        }
    }
}

.voice-animation {
    display: none;
    @include tablet() {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        .animation {
            width: 200px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
    }
}

.content-wrap {
    @include tablet() {
        display: grid;
        position: relative;
        & > div {
            grid-column: 1/-1;
            grid-row: 1/-1;
        }

        #control-btns {
            position: absolute;
            right: 0;
            top: 0;
            width: 200px;
            height: 100%;
            background-color: transparent;
            padding-right: 0px;
            padding-left: 0px;
            align-items: center;
            @include sm-desktop() {
                right: 10px;
            }
            .container {
                flex-flow: column wrap;
                height: 70%;
            }

            button {
                display: flex;
                align-items: center;
                p {
                    // margin-left: 8px;
                    position: relative;
                    right: -10px;
                }
                img {
                    @include sm-desktop() {
                        width: 45px;
                    }
                }
            }
            #microphone {
                top: initial;
                left: 35px;
                @include sm-desktop() {
                    height: 80px;
                    width: 80px;
                    img {
                        height: initial;
                    }
                }
            }
        }
    }
    .container {
        @include tablet() {
            width: 100%;
            max-width: initial;
        }
    }
}

p {
    @include tablet() {
        line-height: 150%;
        font-size: 16px;
    }
    @include sm-desktop() {
        font-size: 18px;
    }
}

.wrap {
    @include sm-desktop() {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.slides-content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-size: 15px;
    position: relative;
    z-index: 20;
    @include tablet() {
        position: initial;
        z-index: initial;
        width: 85%;
    }
    .row {
        padding-left: 20px;
        padding-right: 20px;
        .date {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .text-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .user-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }

    .user-row {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .ai-row {
        p,
        li {
            color: #374151;
            @include tablet() {
                font-size: 1rem;
            }
        }
    }

    .ai-responce {
        @extend .user-content;
        align-items: flex-start;
        height: 345px;
        overflow: auto;
        ul {
            padding-left: 20px;
            margin-top: 10px;
        }
    }

    .input-wrap {
        margin-left: 13px;
        margin-top: 15px;
        width: 310px;
        height: 40px;
        position: relative;
        input {
            width: 100%;
            height: 100%;
            background-color: #fdfdfd;
            padding: 10px;
            border: none;
            &:focus {
                border: none;
                outline: none;
            }
        }
        .send-con {
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 15px;
            top: 12px;
            .send-btn {
                width: 20px;
                margin-right: 12px;
                height: 20px;
                cursor: pointer;
                img {
                    width: 100%;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.ai-responce-lg {
    display: none;
    @include tablet() {
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding-top: 20px;
        padding-right: 20px;
    }
    .user-row {
        @include sm-desktop() {
            margin-bottom: 100px;
        }
    }
    .input-wrap {
        @include tablet() {
            margin: initial;
            position: absolute;
            right: 20px;
            bottom: 25px;
            font-size: 1rem;
            width: 65%;
            height: 50px;
            input {
                padding-left: 20px;
                &::placeholder {
                    font-weight: bold;
                }
            }
            .send-con {
                top: 15px;
            }
        }
        @media only screen and (min-width: 1200px) {
            width: 70%;
        }
    }
    .ai-responce {
        @include tablet() {
            height: 35vw;
        }
        @include sm-desktop() {
            height: initial;
        }
    }
}

// upload content
.upload-function,
.color-select {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    button,
    .current-voice {
        background-color: #d8d8d880;
        border-radius: 50px;
        padding: 8px 25px 12px 25px;
        color: #5d5d5d;
        font-size: 1rem;
    }
    .current-voice {
        margin-top: 20px;
    }
    button {
        @include tablet() {
            margin-top: 120px;
        }
    }
}

.color-select {
    button {
        @include tablet() {
            margin-top: 0px;
        }
    }
}

.upload, .color-picker {
    @include tablet() {
        .slides-content {
            display: flex !important;
            width: 100%;
        }
        #slider .container {
            display: grid;
        }
    }
}

